body
{
	font-family: tahoma;
	color: teal ;
	background-color: silver;

	margin-left: 150px;
	margin-right: 150px;
}

header, footer
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

main
{
	margin-left: 100px;
	margin-right: 100px;
}

h1, h2, h3
{
	font-family: Cambria, Cochin, Georgia, serif;
	text-align: center;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color: lightseagreen;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: mediumseagreen;
}

figure
{
	text-align: center;
}

img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 8px;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}

p 
{
    text-align: center 
}