body 
{
  font-family: Arial, Helvetica, sans-serif;
  color: #f5e2d9;
  background-color: #151706;
  margin: 50px 100px 50px 100px;
}

a { color: lightblue;}
a:hover { color: red;}

header,footer
{
  font-family: Courier, serif;
  text-align: center;
  color: #FFAC81;
  text-align: center;
  background-color: #721121;
  border-color: blanchedalmond;
  border-style: solid;
  padding-bottom: 20px;
}

h1,h2,h3
{
  font-family:'Lucida Sans', 'Trebuchet MS', sans-serif;
}

.main_center
{
  text-align: center;
}

#intro_wedding_pic
{
  display: block;
  width: 189px;
  height: 252px;
  margin: 25px auto 25px auto;
}

main
{
  margin: 25px 50px 25px 50px;
}

li
{
  margin: 5px 5px 5px 5px;
}